<div class="cc-card-body">

    <div class="cc-linha">
        <span class="cc-label">Senha</span>
        <a asp-controller="Account" asp-action="ChangePassword" class="cc-valor text-dark">
            Atualizar
        </a>
    </div>

  

</div>