@model ProductListViewModel

<div>
    <div>

        <div class="mb-3">
            <label class="form-label fw-semibold text-dark">Ordernar Por</label>
            <form method="get">
                <select asp-for="SortOrder"
                        asp-items="Model.SortOptions"
                        class="form-select shadow-sm rounded-3"
                        onchange="this.form.submit()">

                    <option value="">Selecione</option>
                </select>
            </form>

        </div>

    </div>
</div>