@model ProductListViewModel

<div>
    <div>

        <div class="mb-3">
            <label class="form-label fw-semibold text-dark">Nome</label>

            <select asp-for="Name"
                    asp-items="@(new SelectList(Model.Products, "Name", "Name"))"
                    class="form-select shadow-sm rounded-3">
                <option value="">Selecionar</option>
            </select>
        </div>

    </div>
</div>