html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 150px;
  margin-bottom: 60px;
}

.sidebar {
    background: linear-gradient(180deg, #f8f9fa, #eef1f4);
    border-right: 1px solid #dee2e6;
}

    .sidebar .card {
        border-radius: 12px;
    }

.category-card {
    background-color: #000;
    transition: all 0.3s ease;
    border-radius: 6px;
}

    .category-card:hover {
        background: linear-gradient(to bottom, #000000, #4a4a4a);
        transform: translateY(-4px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    }

    .category-card h6 {
        font-family: 'Ariel', sans-serif;
        letter-spacing: 1px;
    }

/* Ajusta as setas para ficarem fora dos cards e visíveis */
.carousel-control-prev, .carousel-control-next {
    width: 5%;
    filter: invert(100%); /* Torna as setas escuras se o fundo for claro */
}

.carousel-control-prev {
    left: -50px; /* Joga a seta um pouco para fora do container */
}

.carousel-control-next {
    right: -50px;
}

/* Garante que o container tenha espaço para as setas */
.carousel {
    padding: 0 40px;
}

.custom-search {
    margin-top:15px;
    max-width: 500px;
    width: 1000px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
}