<br />
<img src="~/img/adminarea.jpg" alt="" class="img-fluid" />
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <p class="lead">
            <h2 class="display-4">Esta é a área do Super ADM</h2>
            <a asp-area="Admin" asp-controller="SuperAdmin" asp-action="CreateRole">Criar Cargos</a>
            <a asp-area="Admin" asp-controller="SuperAdmin" asp-action="AddUserToRole">Atribuir Cargo</a>

        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>
</div>