@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item d-flex align-items-center">
            <span class="text-light me-2 mt-3">Olá, @User.Identity.Name!</span>
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="btn btn-link nav-link text-light py-0" style="text-decoration:none">
                    Sair
                </button>
            </form>
        </li>
    } else
    {
        <li class="nav-item">
            <a class="nav-link text-light text-center" asp-controller="Account" asp-action="Login"
               asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString"><i class="bi bi-person-circle fs-3"></i><br />Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light text-center" asp-controller="Account" asp-action="Register"><i class="bi bi-person-plus fs-3"></i><br />Cadastrar</a>
        </li>
    }
</ul>